/* root
-------------------- */

:root {
  --black: #333;
  --black-lighter: #4f4f4f;
  --white: #fff;
  --gray: #bdbdbd;

  /* stylelint-disable value-keyword-case */
  --font-base: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-inconsolata: Inconsolata, sans-serif;
  --font-space-mono: Space Mono, sans-serif;
  --font-montserrat: Montserrat, sans-serif;
  /* stylelint-enable value-keyword-case */
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-base);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* layout */

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex: 1 0 auto;
}

/* common
-------------------- */

.container {
  max-width: 1280px;
  padding: 0 4%;
  margin: 0 auto;
}

/* header
-------------------- */

.header {
  padding: 40px 0;
}

.header__site-title {
  font-family: var(--font-inconsolata);
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: 25px;
  color: var(--black);
  text-transform: uppercase;
  letter-spacing: -0.08em;
}

/* main
-------------------- */

.main {
  padding: 80px 0;
}

.main-section__layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4%;
}

.main-section__img {
  max-width: 90%;
}

.main-section-contents {
  display: grid;
}

.main-section-contents__msg {
  font-family: var(--font-space-mono);
  font-size: 64px;
  font-style: normal;
  font-weight: bold;
  line-height: 95px;
  color: var(--black);
  letter-spacing: -0.035em;
}

.main-section-contents__sub-msg {
  max-width: 360px;
  margin-top: 24px;
  font-family: var(--font-space-mono);
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  line-height: 36px;
  color: var(--black-lighter);
  letter-spacing: -0.035em;
}

.main-section-contents__btn {
  width: 216px;
  height: 68px;
  margin-top: 40px;
  font-family: var(--font-space-mono);
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  line-height: 21px;
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: -0.035em;
  background-color: var(--black);
  outline-offset: 8px;
}

.main-section-contents__btn:hover,
.main-section-contents__btn:focus {
  color: var(--black);
  background-color: var(--white);
  transition:
    color 0.3s,
    background-color 0.3s;
}

.main-section-contents__btn:not(:focus-visible) {
  outline: none;
}

/* footer
-------------------- */

.footer {
  padding: 24px 0;
  text-align: center;
}

.footer__signature {
  font-family: var(--font-montserrat);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  color: var(--gray);
}

/* Tablet style
-------------------- */

@media (width <= 959px) {
  /* main */

  .main {
    padding: 40px 0;
  }

  .main-section__layout {
    display: grid;
    grid-template-columns: 1fr;
    -moz-row-gap: 8%;
    row-gap: 4%;
  }

  .main-section__img {
    margin: 0 auto;
  }

  .main-section-contents__msg {
    font-size: 48px;
    line-height: 71px;
  }

  .main-section-contents__sub-msg {
    font-size: 18px;
    line-height: 27px;
  }
}
